* {
	margin: 0;
	padding: 0;
}

.active {
	background-color: #9A0002; 
}

body {
	font-size: 10pt;
	line-height: 1.75em;
	background: #7A0101;
	color: #CDCCCB;
	text-align: justify;
}

body,input {
	font-family: "Arial", sans-serif;
}

br.clear {
	clear: both;
}

form {
	margin: 0;
	padding: 0;
}

img.menu {
	margin-left: 384px;
	padding-bottom: 26px;
}

img.careers {
	margin-left: 49px;
	padding-bottom: 16px;
}

img.about {
	margin-top: 2px;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 20px;
	padding-left: 312px;
}

img.food {
	float: left;
	margin-right: 20px;
	padding-top: 8px;
}

img.platter {
	padding-left: 490px;
	margin-bottom: 16px;
}

h1 {
	text-decoration: underline;
	text-align: center;
}

h2 {
	text-decoration: none;
}

h3 {
	padding-right: 28px;
	padding-left: 48px;
	text-decoration: underline;
	background: #B80003
}

p {
	margin-bottom: 1.5em;
	padding-left: 50px;
	padding-right: 46px;
}

li {
	padding-left: 0px;
	margin-left: 52px;
}

ul {
	margin-bottom: 1.5em;
}

ul h4 {
	margin-bottom: 0.35em;
}

.form {
	margin: 0 0 28px 0;
}

.inputBox, .inputTextArea {
	padding: 6px;
	width: 95%;
}

.inputButton {
	padding: 6px;
	float: right;
}

#banner {
	position: relative;
	padding: 28px;
	height: 300px;
	width: 1124px;
	margin: 28px 0 0 0;
	background: #3B0102
}

#box1 {
	width: 592px;
	overflow: hidden;
	margin: 0 0 16px 0;
}

#box2 {
	width: 288px;
	overflow: hidden;
	float: left;
}

#box3 {
	width: 288px;
	overflow: hidden;
	margin: 0 0 0 304px;
}

#content {
	width: 592px;
	float: left;
	padding: 0;
}

#header {
	position: relative;
	padding: 30px 0;
	height: 122px;
	width: 1180px;
}

#logo {
	position: static;
	top: 0;
	left: 0px;
	height: 124px;
	line-height: 124px;
	text-align: center;
}

#logo a {
	text-decoration: none;
	color: #FFF;
}

#logo h1 {
	font-size: 4em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	text-decoration: overline;
	text-transform: capitalize;
}

#main {
	position: relative;
	padding: 28px 0;
	width: 1180px;
	margin: 0 0 0 0;
	background: #470203
}

#main .sectionList {
	list-style: none;
	padding-left: 50px;
}

#main .sectionList ul li {
	clear: both;
	padding: 16px 0 16px 0;
	border-top: solid;
	margin-left: -137px;
}

#main ul {
	list-style: disc;
	margin-left: 68px;
}

#main ul li {
	padding: 8px 0 8px 0;
	margin-left: -3px;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#bullet ul li  {
	padding: 8px 0 8px 0;
}

#align {
	bottom: 0;
	left: 0;
	height: 54px;
	line-height: 54px;
	padding: 0;
	width: 1124px;
	margin: 0 0 0 0;
}

#nav a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.50em;
	color: #EFEFEE;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	list-style: none;
	display: inline;
	padding: 0 12px 0 12px;
	margin-left: 0px;
}

#nav ul li.first {
	padding-left: 0;
}

#outer {
	position: relative;
	width: 1180px;
	margin: 60px auto 0 auto;
}

#search input.button {
	margin-left: 1em;
	border: 0;
	color: #FFF;
	background: #75CFF0;
	padding: 4px;
	font-family: Antic, sans-serif;
}

#search input.text {
	border: dashed 1px #625C5A;
	padding: 4px;
}

/* Home */

#homelogo {
	text-align: center;
	padding-top: 170px;
}

#homelogo a {
	text-decoration: none;
	color: #FFF;
}

#homelogo h1 {
	font-size: 4em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	text-decoration: overline;
	text-transform: capitalize;
}

#homeenter {
	text-align: center
}

#homeenter a {
	text-decoration: none;
	color: #FFF;
	background-color: #A70002;
	border-radius: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#homeenter a:hover {
	background-color: #9E0002;
}

#homeenter h2 {
	font-size: 3em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	text-transform: capitalize;
	text-decoration: none;
}



/* Sidebars */

#sidebar {
	width: 156px;
	height: 317px;
	padding: 20px;
	float: left;
	background: #360101;
	margin-top: 210px;
	margin-left: 0px;
}

#sidebar a {
	text-transform: capitalize;
	font-size: 1.3em;
	color: #EFEFEE;
	padding-top: 6px;
	padding-right: 6px;
	padding-left: 6px;
	padding-bottom: 6px;
	margin-top: 7px;
	border-radius: 5px;
	text-decoration: none;
}

#sidebar a:hover {
	background-color: #9A0002;
}

#sidebar1 {
	width: 1000px;
	margin: 0;
	float: right;
	padding-right: 120px
}

#sidebar1 p {
	padding-left: 0px;	
}

/* Gallery */ 

div.gallery {
	margin-top: 35px;
	margin-right: 35px;
	margin-left: 35px;
	margin-bottom: 35px;
	border: 1px solid #ccc;
	float: left;
	width: 220px;
	-webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    transition: transform 0.5s ease-in-out;
}

div.gallery:hover {
    -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.9);
  	transform:scale(2.0);
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
	padding: 15px;
	text-align: center;
	margin-top: -7px;
}

/* Contact Form */ 

input[type=text], select, textarea {
	width: 100%; 
	padding-top: 23px;
	padding-right: 23px;
	padding-left: 23px;
	padding-bottom: 23px; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
	box-sizing: border-box; 
	margin-top: 6px; 
	margin-bottom: 16px; 
	resize: vertical 
}

input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
	border-radius: 15px;
	padding: 20px;
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
}

/* Footer */

.footer {
	background-color: #2B0000;
	padding-bottom: 50px;
	padding-top: 56px;
	text-align: center;
}

.footer ul li {
	list-style: none;
	display: inline
}

.footer ul li a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 1.50em;
	color: #EFEFEE;
	margin-right: -48px;
}

.footer p {
}
